body {background-image: url("tours.jpeg"); background-repeat: no-repeat; background-size: 100%;}

#logo {color: orangered; font-size: xx-large; font-style: italic; text-align: center;}

#contacts {color: red; font-size: x-large; font-weight: bold; text-align: center;}

#motto {color: red; font-size: xx-large; font-weight: bolder; text-align: center;}
