header {word-spacing: 30px; color: chocolate; list-style: none;
  text-align: center;}

h1 {color: yellowgreen;text-align: center; font-size: xx-large;font-style: italic;}

footer {color: crimson;
        position: relative;}

body {background-image: url("image.jpg");
       background-size: 100%;
       background-repeat: no-repeat;
       height: 100%;}

 ul {display: grid; display: inline-block;} 

* {margin: 0%;
   padding: 0%;}

p {color: red; font-size: xx-large;}       