header {word-spacing: 30px; color: chocolate;}

h1 {color: red;text-align: center; font-size: xx-large;}

footer {color: crimson;}

body {background-image: url("image.jpg");
       background-size: 100%;
       background-repeat: no-repeat;
       height: 100%;}

 ul {display: grid;} 

* {margin: 0%;
   padding: 0%;}

 #container { min-height: 100%;}  

 #main {overflow: auto;
         padding-bottom: 100%;}
      
 footer {position: relative;
          height: 70px;
          margin-top: -50px;
          clear: both;}        